#home {
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
  font-size: smaller;
}

#services .fa {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
  margin-bottom: 12px
}

#information {
  li { margin-bottom: 1.5em; }
}

#contact {
  background-color: #e3f2fd;
}
